/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
  height: 100%
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}

.col1 {
  overflow-y: scroll;
}

.col2 {
  overflow: hidden;
}

.card-body {
  min-height: 300px;
  min-width: 300px;
  margin-right: 5px;
}